@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Playfair+Display:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif, "Playfair Display", serif;
  font-style: normal;
  font-size: 16px;
  color: #0e1112;
  background-image: url("../img/intro-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 700px;
  background-position: right 250px top 0;
}

body._lock {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

/* header */

.menu-bar {
  display: none;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  align-items: center;
  padding: 63px 88px 0 65px;
}

.header-logo {
  height: 36px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-social-media {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

iconify-icon,
#header-home,
#nav-link {
  color: #0e1112;
}

.menu-item {
  text-decoration: none;
  color: #696c6d;
  font-family: "Mulish";
  line-height: 194.19%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 400;
}

/* titles font */

h1,
h2,
h3 {
  font-family: "Playfair Display";
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
}

.main-title-text {
  font-size: 56px;
  line-height: 142%;
}

.title-text {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 29px;
}

p {
  font-family: "Mulish";
  font-weight: 400;
  line-height: 214.3%;
  letter-spacing: 0.02em;
  color: #484b4b;
}

.decor {
  text-decoration: underline;
}

/* buttons */
.btn {
  height: 66px;
  background-color: #0e1112;
  color: white;
  font-family: "Mulish";
  font-size: 16px;
  line-height: 194.19%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  width: 168px;
  margin-top: 60px;
  cursor: pointer;
}

.btn:hover {
  background: #191e20;
  color: white;
}

.btn-large {
  width: 240px;
}

/* banner */

.banner {
  margin: 250px auto 0;
  max-width: 1346px;
  height: 840px;
}

.banner-text {
  max-width: 700px;
  font-weight: 700;
  font-size: 108px;
}

.banner-title-text {
  font-weight: 400;
  font-size: 36px;
  margin-top: 18px;
}

/* about section */

.about-me {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  max-width: 1500px;
  height: 866px;
  position: relative;
}

.about-me-photo {
  margin-left: 100px;
}

.about-me-description {
  margin: auto;
}

.about-me-text {
  max-width: 430px;
  margin-top: 40px;
}

.arrow {
  position: absolute;
  max-width: 2px;
  bottom: 0;
}

.photographer-photo {
  width: 100%;
  max-width: 689px;
  max-height: 850px;
}
/* portfolio section */

.portfolio-content {
  margin: 0 auto;
  max-width: 1510px;
}
.portfolio-text {
  margin: 67px 0;
}

.portfolio-items {
  margin: 0 auto;
  max-width: 1000px;
}

.photo-genres-list {
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  margin-bottom: 70px;
}

.block_img {
  display: grid;
  grid-template-areas:
    "box1 box2 box3"
    "box4 box2 box3"
    "box4 box2 box7"
    "box4 box6 box7"
    "box5 box6 box7"
    "box5 box6 box7";
  gap: 34px;
  max-width: 1500px;
  margin: 0 auto;
}

.img_box img {
  height: 100%;
  width: 100%;
}

.box1 {
  grid-area: box1;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.box6 {
  grid-area: box6;
}
.box7 {
  grid-area: box7;
}

a {
  text-decoration: none;
  color: #696c6d;
  font-family: "Mulish";
}

.nav-link {
  line-height: 194.19%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 400;
}

/* blog section */
.blog-container {
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 138px;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 63px;
  column-gap: 150px;
  margin-bottom: 30px;
}

.blog-main-title {
  margin: 114px 0 82px;
}

.blog-title {
  margin: 12px 0;
}

.date {
  font-family: "Mulish";
  font-size: 14px;
  line-height: 194.19%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #797979;
}

/* contact me section*/

.contact-me {
  margin: 30px 0;
  background-color: transparent;
  height: 100%;
  background: #eef7f9;
  position: relative;
}

.contact-form {
  margin: 0 auto;
  max-width: 1120px;
  height: 70%;
}

.contact-form-items {
  padding-top: 40px;
}

.contact-me-photo {
  position: absolute;
  right: 40px;
  bottom: 0;
  max-width: 653px;
  width: 100%;
}

.btn-contact-form {
  margin-bottom: 180px;
}

.md-form {
  border-bottom: 3px solid #0e1112;
}

.contacts {
  max-width: 700px;
}

.credentials {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}

.form-control {
  width: 100%;
}

.textarea {
  width: 100%;
  min-height: 50px;
  margin-top: 10px;
  resize: none;
}

.form-control::placeholder,
.textarea::placeholder {
  font-size: 16px;
  font-family: "Mulish";
}

.form-control,
textarea {
  outline: none;
  border: none;
  border-bottom: solid 2px #0e1112;
  background: transparent;
  padding: 15px;
}

/* contacts */

.main-title-contacts {
  margin-top: 150px;
}

.directions-container {
  display: flex;
  justify-content: space-around;
  max-width: 1360px;
  margin: 140px auto 90px;
}

.directions {
  max-width: 277px;
}

.directions-social-media {
  display: flex;
  gap: 20px;
}

.copyright {
  text-align: center;
  color: #abb1b4;
  margin: 50px;
}

@media screen and (max-width: 1100px) {
  body {
    background-image: none;
  }
  header {
    grid-template-columns: 1fr 2fr;
  }

  .header-social-media,
  .intro-section,
  .arrow {
    display: none;
  }
  .about-me-photo {
    margin-left: 0;
  }
  .contact-me-photo {
    max-width: 370px;
    right: 0;
  }
  .about-me {
    height: auto;
  }
  .about-me,
  .portfolio-content,
  .contact-form-items,
  .blog-container {
    margin: 20px 25px;
  }
  .blog-main-title,
  .main-title-contacts,
  .portfolio-text {
    margin: 60px 0 40px;
  }

  .contacts {
    max-width: 500px;
  }
  .credentials {
    flex-direction: column;
  }

  .btn-contact-form {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }

  header {
    padding: 10px 0;
  }

  .header-social-media,
  #header-home,
  .contact-me-photo {
    display: none;
  }

  .container,
  .portfolio-content {
    padding: 0;
  }

  .menu-bar {
    z-index: 5;
    position: relative;
    width: 40px;
    height: 35px;
    display: block;
    margin-left: 10px;
    cursor: pointer;
  }

  .menu-bar span,
  .menu-bar:after,
  .menu-bar:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #0e1112;
    margin: 0 auto;
    transition: all 0.3s ease 0s;
  }
  .menu-bar span {
    top: 16px;
  }
  .menu-bar:after,
  .menu-bar:before {
    content: "";
  }
  .menu-bar:after {
    bottom: 5px;
  }
  .menu-bar:before {
    top: 5px;
  }

  .menu-bar.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }
  .menu-bar.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }
  .menu-bar.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .header-nav {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 5px 6px rgba(36, 36, 36, 0.37);
    left: -100%;
    transition: all 0.4s ease;
  }
  .header-nav.open-menu {
    left: 0;
  }
  .header-menu {
    display: block;
    overflow: auto;
  }
  .header-menu > li {
    margin: 40px 0px 40px 33px;
    font-size: 24px;
  }
  .header-menu > li:last-child {
    margin-bottom: 0;
  }
  header {
    grid-template-columns: 1fr 2fr;
    padding: 40px 0;
  }
  .fixed-page {
    overflow: hidden;
  }
  .about-me {
    flex-direction: column;
    gap: 0;
  }
  .main-title-text {
    font-size: 28px;
  }
  .photo-genres-list {
    gap: 6px;
    justify-content: space-around;
  }
  .block_img {
    gap: 8px;
  }
  .blog-grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .contacts {
    max-width: 300px;
  }
  .credentials,
  .directions-container {
    flex-direction: column;
  }
  .directions-container {
    margin: 20px 10px;
  }

  .copyright,
  .btn {
    margin: 0;
  }
}
